services:
  anvil:
    image: ghcr.io/foundry-rs/foundry
    ports: [ "8545:8545" ]
    entrypoint: [ "anvil", "--fork-url", "https://sepolia.infura.io/v3/$INFURA_PROJECT_ID", "--host", "0.0.0.0", "--chain-id", "11155111", "--host", "0.0.0.0", "--port", "8545", "--block-time", "1"]
    healthcheck:
      test: ["CMD-SHELL", "cast rpc web3_clientVersion | grep -c anvil > /dev/null "]
      start_interval: 250ms
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 50
 
  mediator:
    build:
      context: .
      dockerfile: Dockerfile
    ports: [ "3000:3000" ]
    environment:
      - ANVIL_RPC=http://anvil:8545
      - INFURA_PROJECT_ID=${INFURA_PROJECT_ID}
      - API_SECRET_KEY=${API_SECRET_KEY}
      - MEDIATOR_SECRET_KEY=${MEDIATOR_SECRET_KEY}
      - MEDIATION_SECRET_KEY=${MEDIATION_SECRET_KEY}
      - RECIPIENT_SECRET_KEY=${RECIPIENT_SECRET_KEY}
      - POLICY_SECRET_KEY=${POLICY_SECRET_KEY}
    depends_on:
      anvil:
        condition: service_healthy
   